@charset "UTF-8";

@media screen and (max-width:768px){
    html{
        font-size: 100%;
    }

    .header-nav h1{
        font-size: 2rem;
    }

    nav ul{
        display: none;
    }

    nav

}